<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8"> 
        <script src="js/pesquisa.js" defer></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
        <link rel="stylesheet" type="text/css" href="pesquisa.css">
        
        <link rel="stylesheet" type="text/css" href="../styles.css">
        <link rel="icon" type="image/png" href="imagens/logo_Browser.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> 
        <base href="http://localhost/Clube_Livro1_modificado2/Clube_Livro1/" />


    
    </head>
    <body>

        
    <div class="input-group">
        <div class="input-icon">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <input id="search" type="text" class="input-field" placeholder="Pesquisar">
    </div>

    <ul id="results"></ul>

        <div id="menu-placeholder"></div>
        <div class="elementos-login">
            <h2 class="escrita-login">Livros Cadastrados</h2>
            <div id="livros"></div>
            <button onclick="location.href='cadastroLivro.html'">Cadastrar Novo Livro</button>
        </div>

        <script src="js/exibirLivros.js"></script>
        <script src="js/menuLoader.js"></script>
    </body>
</html>
